.EditingPage {
  margin-bottom: 100px;

  &__Fields {
    margin-top: 40px;
  }

  &__Button {
    width: 47%;
    height: 49px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s;

    &--add {
      background-color: #2275e9;
      color: #fff;

      &:hover {
        background-color: #1a62c7;
      }
    }

    &--cancel {
      background-color: #ebebeb;
      color: #a6a6a6;

      &:hover {
        background-color: #d8d4d4;
      }
    }

    &--delete {
      background-color: #ff4d42;
      color: #fff;

      &:hover {
        background-color: #cf3229;
      }
    }

    &--cancelN {
      background-color: #ebebeb;
      color: #a6a6a6;
      width: 60%;
      margin-top: 16px;

      &:hover {
        background-color: #d8d4d4;
      }
    }
  }

  &__Buttons {
    margin-top: 40px;
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  &__Success {
    width: 386px;
    height: 239px;
    background-color: #fff;
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 3rem 2.5rem;
    box-sizing: border-box;
  }

  &__SuccessText {
    font-family: "Cera";
    font-size: 27px;
    font-weight: bold;
    color: #1d1d1d;
    text-align: center;
  }

  &__SuccessLinkBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
  }

  &__SuccessButton {
    width: 9.5rem;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 0.3s;
  }

  &__SuccessBack {
    background-color: #ebebeb;
    color: #a6a6a6;

    &:hover {
      background-color: #f5f3f3;
    }
  }

  &__SuccessNew {
    color: #fff;
    background-color: #3886f3;

    &:hover {
      background-color: #5aa1f8;
    }
  }
}
