@import "../../../styles/vars.scss";

.ProductCard {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-bottom: 15px;
  margin-bottom: 12px;
  
  position: relative;
  transition: all 0.3s;
  cursor: pointer;

  &::after {
    transition: all 0.3s;

    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $color-sys-gray;
    left: 0;
    bottom: 0;
  }

  &:hover::after {
    background-color: $color-primary;
  }

  &__Checkbox {
    cursor: pointer;
  }

  &__LeftSide {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__LeftSideInfo {
    margin-left: 24px;
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-grow: 1;
  }

  &__Photo {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s;
  }

  &__Text {
    margin-left: 21px;
  }

  &__Title {
    transition: all 0.2s;
    color: $color-text;
    font-size: $fz_15;
    font-weight: bold;
  }

  &__Type {
    font-size: $fz_13;
    color: $color-text-light;
  }

  &__Prices {
    display: flex;
    flex-direction: column;
    color: $color-text-light;
    font-size: $fz_13;
    text-align: center;
    margin-right: 10px;
  }

  &__LastPrice {
    text-decoration-line: line-through;
  }

  &__CurrentPrice {
    margin-top: 5px;
  }

  &__RightSide {
    display: flex;
    align-items: center;
  }

  &__OptionsList {
    display: flex;
    list-style-type: none;
  }

  &__OptionsItem {
    padding: 5px;
    margin-left: 27px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    &:hover {
      background-color: $color-sys-gray;
      border-radius: 4px;
    }

    &--disabled {
      z-index: -1;

      &::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 30px;
        left: 0;
        top: 0;
        z-index: 1;
      }
    }
  }

  &__Active {
    opacity: 1;
    transition: all 0.3s;
  }

  &__NotActive {
    opacity: 0.6;
  }
}

.ProductCard:hover .ProductCard__Title {
  color: $color-primary;
}
