.EditingInput {
  &__Input {
    background: #ffffff;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    border-radius: 10px;
    height: 40px;
    width: 60%;
    box-sizing: border-box;
    padding: 11px 16px;
    font-size: 15px;
    color: #1d1d1d;
    outline: none;
    transition: all 0.3s;
    font-family: "Roboto", sans-serif;
    &:focus {
      border: 1px solid #5aa1f8;
    }

    &--error {
      border: 1px solid #ff4d42;
    }

    &--success {
      border: 1px solid #6fcf97;
    }

    &::placeholder {
      color: #c4c4c4;
      font-size: 15px;
    }
  }
}
