@import "../../../styles/vars.scss";

.EditingPrices {
  margin-top: 20px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  height: 40px;
  

  &__Input {
    height: 100%;
    width: 48%;
    border: 0;
    outline: 0;
    background: $color-background;
    border: 1px solid $color-sys-gray;
    box-sizing: border-box;
    border-radius: $border-radius-default;
    padding: 0 16px;
    transition: all 0.3s;
  
    &::placeholder {
      font-size: $fz_15;
      color: #c4c4c4;
    }

    &:focus {
      border: 1px solid $color-client;
    }

    &--error {
      border: 1px solid $color-error;
    }

    &--success {
      border: 1px solid $color-success;
    }
  }
}
