@import "../../styles/vars.scss";

.ProductsPage {

  &__NoProducts {
    text-align: center;
    color: $color-text-light;
  }
}

.Spinner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
